header {
  height: 35vh;
  background-position-y: 30%;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .video-player {
    display: none;
  }
  .arrow-down {
    display: none;
  }
  .site-title {
    position: relative;
    text-align: center;
    .custom-logo {
      max-height: 20vh;
      width: auto;
    }
  }
  .opacity-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.25);
    display: none;
  }
  @include md-up {
    .site-title {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateX(-50%);
      transform: translateY(-50%);
    }
  }
}

.home {
  header {
    height: 100vh;
    background-position: center center;
    .arrow-down {
      display: block;
      width: 40px;
      position: absolute;
      bottom: 7.5%;
      left: 50%;
      transform: translateX(-50%);
    }
    .site-title {
      position: relative;
      text-align: center;
      .custom-logo {
        max-height: 250px;
        width: auto;
      }
    }
    .video-player {
      display: block;
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      img {
        height: 60px;
        width: auto;
      }
    }
    figure.video {
      width: 400px;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 0;
      z-index: 100;
      display: none;
      video {
        width: 100%;
      }
      img {
        position: absolute;
        top: 0;
        right: -40px;
        height: 30px;
        width: auto;
        cursor: pointer;
      }
    }
    @include md-up {
      .site-title {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        .custom-logo {
          max-height: 400px;
          width: auto;
        }
      }
    }
  }
}
