html {
  scroll-behavior: smooth;
}

/**********
404
**********/

.error404 {
    text-align: center;
    header {
        height: 30vh;
    }
    .content-404 {
        margin-bottom :5rem;
        span {
            font-size: 10rem;
        }
        p {
            font-size: 2rem;
            a {
                text-decoration: underline;
            }
        }
    }
}

/**********
FRONT-PAGE
**********/
.opacity-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.25);
    display: none;
}
.video-player {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    img {
        height: 60px;
        width: auto;
    }
}
.video {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    z-index:100;
    display: none;
}
.close-icon {
    width: 30px;
}
.link-icon {
    width: 20px;
    margin-left: 10px;
    margin-top: -8px;
    &:hover {
    filter: invert(20%) sepia(99%) saturate(1904%) hue-rotate(199deg) brightness(96%) contrast(101%);

    }
}
.music-icon {
    width: 80px;
    height: auto;
}
.pointer {
    cursor: pointer;
}
.home {
    header {
        height: 100vh;
        background-position: center center;
        background-size: cover;
        position: relative;
        color: white;
        .site-title {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            .custom-logo {
                max-height: 400px;
                width: auto;
            }
        }
        .arrow-down {
            width: 40px;
            position: absolute;
            bottom: 7.5%;
            left: 50%;
            transform: translateX(-50%);
        }
        video:after {
            content:"hi";
            background-color: blue;
            background-image: url(../../../assets/img/close.png);
            background-size: 50px;
            width: 50px;
            height: 50px;
            position: absolute;
            top: -20px;
            left: 200px;
        }
        figure {
            width: 400px;
            video {
                width: 100%;
            }
            img {
                position: absolute;
                top: 0;
                right: -40px;
                height: 30px;
                width: auto;
                cursor: pointer;
            }
        }
    }
    section {
        padding: 3rem;
    }
    #agenda {
        color: white;
        background-color: $primary;
        .concert-dates {
            margin-bottom: 2rem;
            .date {
                color: black;
                font-size: 1.5rem;
                font-family: 'code_boldregular','Open Sans', "Lucida Sans Unicode", serif;
            }
            h3 {
                margin-top: 0;
                &:hover {
                    text-decoration: underline;
                }
            }
            .modal-content {
                border: none;
                border-radius: 0;
                color: black;
                h4 {
                    margin: 0;
                }
                img.attachment-post-thumbnail {
                    width: 100%;
                    height: auto;
                }
                .modal-footer {
                    justify-content: flex-start;
                    a {
                        font-size: 1.5rem;
                        font-family: $title-fat-font;
                    }
                }
            }
        }
    }
    #concert {
        .concerts-cards {
            text-align: center;
            margin: 4rem 0;
            .icon-wrap {
                padding: 2rem 0;
                cursor: pointer;
            }
            .card {
                display: none;
                position: absolute;
                top: -45px;
                border-radius: 0;
                border: none;
                margin: -2rem 2rem 2rem 2rem;
                color: white;
                background-color: $dark-grey;
                .bcg-img {
                    padding-top: 66.66%;
                }
                h4 {
                    margin: 0 0 .5rem 0;
                }
            }
        } 
    }
    #listening {
        color: white;
        background-color: $secondary;
        .sounds {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }
    #history {
        .row {
            margin-bottom: 2rem;
        }
    }
}

.bcg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}