html {
  scroll-behavior: smooth;
}

body {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.bcg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.bcg-wrap {
  height: 100%;
  overflow: hidden;
  min-height: 165px;
  margin-bottom: 2rem;
}

.bcg-wrap:hover .bcg-img {
  transform: scale(1.2);
}

section {
  padding: 2rem;
}
@include md-up {
  section {
    padding: 2rem;
  }
}

/**********
FRONT-PAGE
**********/

.home {
  #agenda {
    color: white;
    background-color: $primary;
    padding: 2rem 3rem;
    overflow: auto;
    .concert-dates {
      margin-bottom: 2rem;
      .date {
        color: black;
        font-size: 1.5rem;
        font-family: "code_boldregular", "Open Sans", "Lucida Sans Unicode",
          serif;
      }
      h3 {
        margin-top: 0;
        &:hover {
          text-decoration: underline;
        }
      }
      .modal-content {
        border: none;
        border-radius: 0;
        color: black;
        h4 {
          margin: 0;
        }
        img.attachment-post-thumbnail {
          width: 100%;
          height: auto;
          max-height: 180px;
          object-fit: cover;
        }
        .modal-footer {
          justify-content: flex-start;
          a {
            font-size: 1.5rem;
            font-family: $title-fat-font;
          }
          h5,
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  #concert {
    .concerts-cards {
      text-align: center;
      margin: 2rem 0;
      & > div {
        margin-bottom: 1rem;
      }
      .icon-wrap {
        padding: 2rem 0;
        cursor: pointer;
      }
      .arrow-down {
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background-image: url(../../img/expand-arrow.png);
        background-position: center;
        background-size: cover;
        &.expanded {
          background-image: url(../../img/collapse-arrow.png);
        }
      }
      .card {
        display: none;
        position: relative;
        border-radius: 0;
        border: none;
        color: white;
        background-color: $dark-grey;
        text-align: left;
        .bcg-img {
          height: 180px;
        }
        h4 {
          display: none;
        }
      }
    }
    @include md-up {
      .concerts-cards {
        margin: 4rem 0;
        & > div {
          margin-bottom: 0;
        }
        .card {
          display: none;
          position: absolute;
          top: -45px;
          border-radius: 0;
          border: none;
          margin: -2rem 2rem 2rem 2rem;
          color: white;
          background-color: $dark-grey;
          .bcg-img {
            padding-top: 66.66%;
          }
          h4 {
            display: block;
            margin: 0 0 0.5rem 0;
          }
        }
      }
    }
  }
  #listening {
    color: white;
    background-color: $secondary;
    .sounds {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 3rem;
    }
  }
  #history {
    .row {
      margin-bottom: 2rem;
    }
  }
}

/**********
404
**********/

.error404 {
  text-align: center;
  .content-404 {
    margin-bottom: 5rem;
    span {
      font-size: 6rem;
    }
    p {
      font-size: 2rem;
      a {
        text-decoration: underline;
      }
    }
  }
}
