// FONTS
$body-font : 		'Carme', 'Open Sans', "Lucida Sans Unicode", sans-serif;
$title-fat-font: 	'code_boldregular','Open Sans', "Lucida Sans Unicode", serif;
$title-thin-font: 	'code_lightregular','Open Sans', "Lucida Sans Unicode", serif;

// COLORS
$primary: 			#F25D50;
$secondary:			#2D999F;
$dark:				#002F53;
$dark-grey: 		#404040;

/* Color Theme Swatches in Hex */
$Robot-1-hex: #002F53;
$Robot-2-hex: #2D999F;
$Robot-3-hex: #EEE9E0;
$Robot-4-hex: #D8D8C2;
$Robot-5-hex: #F25D50;

/* Color Theme Swatches in RGBA */
$Robot-1-rgba: rgba(0,47,83, 1);
$Robot-2-rgba: rgba(45,153,159, 1);
$Robot-3-rgba: rgba(238,233,224, 1);
$Robot-4-rgba: rgba(216,216,194, 1);
$Robot-5-rgba: rgba(242,93,80, 1);

/* Color Theme Swatches in HSLA */
$Robot-1-hsla: hsla(206, 100, 16, 1);
$Robot-2-hsla: hsla(183, 55, 40, 1);
$Robot-3-hsla: hsla(38, 29, 90, 1);
$Robot-4-hsla: hsla(60, 22, 80, 1);
$Robot-5-hsla: hsla(4, 86, 63, 1);

